h1{
    color: whitesmoke;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 65px;
    line-height: 84px;
    letter-spacing: 0.025em;
}

h2{
    color: rgb(206, 201, 201);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

body{
    background-color: #1C1C1C;
}

div.MainText{
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 190;
    font-size: 18px;
}

p{
    width: 35%;
    margin: auto;
}

div.botones{
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    text-emphasis-color: white;
}

div.Siguiente{
    margin-left: auto;
    margin-right: 10px;
}

